
body {
  margin: 0;
  padding: 0 ;
   width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/background.jpg);
  background-size :cover;
  background-position: center;
  text-align: center;
  color: white;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0px 20px;
}

.left > ul {
  display: flex;
  gap: 20px;
}
li{
  list-style-type: none;
}

li > a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 5px; 
}

.logo {
  width: 40px ;
  height: auto;
  filter: invert(1);
}
p {
  margin: 0px 70px;
  font-size: 20px;
  }

h1 {
  font-size: 50px;
}

li > a:hover{
  color: #3A4F7A;
  background-color: #FEA1BF;
  border-radius: 20px;
  padding: 5px;
}